<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Valle Code Admin | <%= title %></title>
<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png" />
<link rel="icon" type="image/png" href="img/favicon.png" />

<link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
    rel="stylesheet"
/>
<!-- Nucleo Icons -->
<link
    href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-icons.css"
    rel="stylesheet"
/>
<link
    href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-svg.css"
    rel="stylesheet"
/>
<!-- CSS Files -->
<link id="pagestyle" href="css/argon-dashboard.css?v=2.1.0" rel="stylesheet" />

<meta
    name="description"
    content="Panel de administración de Valle Code, gestiona proyectos y clientes de forma eficiente."
/>
<meta name="robots" content="noindex, nofollow" />
