<!-- prettier-ignore -->
<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../includes/links') %>
    </head>
    <body class="g-sidenav-show bg-gray-100">
        <%-body %>
    </body>
    <%- include('../includes/scripts') %>
</html>
